# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Medusa

# Balance (default profile)
on property:persist.spectrum.profile=0
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 960000
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor impulse
write /sys/kernel/alucard_hotplug/hotplug_enable 1
write /sys/module/workqueue/parameters/power_efficient Y
write /sys/module/cpu_boost/parameters/input_boost_enabled 1
write /sys/module/cpu_boost/parameters/input_boost_freq 0:1401000 1:1248000 2:1248000 3:0
write /sys/module/cpu_boost/parameters/input_boost_ms 400
write /sys/module/msm_thermal/parameters/enabled Y
write /sys/kernel/gpu/gpu_max_clock 598
write /sys/kernel/gpu/gpu_governor msm-adreno-tz
write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 0
write /sys/kernel/mm/uksm/cpu_governor full medium low [quiet] 
write /sys/kernel/mm/uksm/max_cpu_percentage 1

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1


# Battery
on property:persist.spectrum.profile=2


# Gaming
on property:persist.spectrum.profile=3

